mat-toolbar{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  row-gap: 3%;
  width: max-content;
}

a{
  color: white;
  font-size: large;
  padding: 20%;
  margin-bottom: 5%;
}
.spacer{
  flex: 1 1 auto;
}
.collections{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  column-gap: 3%;
  margin-left: 3%;
}
